@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
  height: 8px;
}

html {
  background-color: #fff;
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.2);
  }

  *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: transparent !important;
  }
}

html .tippy-box * {
  font-size: 13px;
}

body {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif !important;
  font-style: normal;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: overlay;
}

body.ReactModal__Body--open {
  overflow-y: hidden;
}

input,
button {
  outline: none;
}

button {
  cursor: pointer;
  border: none;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  display: block;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  z-index: 999;
  outline: none;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
